<tr>
	<td align="center" valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
						<tr>
							<td valign="top" width="600" class="flexibleContainerCell">
								<!-- CONTENT TABLE // -->
								<!--
									In multi-column content blocks, the
									content tables are given set widths
									and the flexibleContainer class.
								-->
								<table align="Left" border="0" cellpadding="0" cellspacing="0" width="260" class="flexibleContainer">
									<tr>
										<td valign="top" class="textContent">
											<h3>Left Column</h3>
											<br />
											A kitten or kitty is a juvenile domesticated cat. A feline litter usually consists of two to five kittens. To survive, kittens need the care of their mother for the first several weeks of their life. Kittens are highly social animals and spend most of their waking hours playing and interacting with available companions.
										</td>
									</tr>
								</table>
								<!-- // CONTENT TABLE -->
								<!-- CONTENT TABLE // -->
								<table align="Right" border="0" cellpadding="0" cellspacing="0" width="260" class="flexibleContainer">
									<tr>
										<td valign="top" class="textContentLast">
											<h3>Right Column</h3>
											<br />
											A kitten or kitty is a juvenile domesticated cat. A feline litter usually consists of two to five kittens. To survive, kittens need the care of their mother for the first several weeks of their life. Kittens are highly social animals and spend most of their waking hours playing and interacting with available companions.
										</td>
									</tr>
								</table>
								<!-- // CONTENT TABLE -->
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>