<tr>
	<td align="center" valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
						<tr>
							<td align="center" valign="top" width="600" class="flexibleContainerCell bottomShim">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer">
									<tr>
										<td align="center" valign="top" class="nestedContainerCell">
											<!-- CONTENT TABLE // -->
											<table border="0" cellpadding="0" cellspacing="0" width="100%">
												<tr>
													<td valign="top" class="textContent">
														<h3>Callout</h3>
														<br />
														A kitten or kitty is a juvenile domesticated cat. A feline litter usually consists of two to five kittens. To survive, kittens need the care of their mother for the first several weeks of their life. Kittens are highly social animals and spend most of their waking hours playing and interacting with available companions.
													</td>
												</tr>
												<tr>
													<td align="center" valign="top" class="bottomShim">
														<table border="0" cellpadding="0" cellspacing="0" width="260" class="emailButton">
															<tr>
																<td align="center" valign="middle" class="buttonContent">
																	<a href="#" target="_blank">Purchase Now</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- // CONTENT TABLE -->
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>