<tr>
	<td align="center" valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
						<tr>
							<td align="center" valign="top" width="600" class="flexibleContainerCell">
								<!-- CONTENT TABLE // -->
								<!--
									The content table is the first element
									that's entirely separate from the structural
									framework of the email.
								-->
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td valign="top" class="textContent">
											<h3>Title</h3>
											<br />
											A kitten or kitty is a juvenile domesticated cat. A feline litter usually consists of two to five kittens. To survive, kittens need the care of their mother for the first several weeks of their life. Kittens are highly social animals and spend most of their waking hours playing and interacting with available companions.
										</td>
									</tr>
								</table>
								<!-- // CONTENT TABLE -->
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>