<style type="text/css">
	table {
		border-collapse: collapse;
	}
	
	img,
	a img {
		border: 0;
		outline: none;
		text-decoration: none;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
	}
	
	p {
		margin: 1em 0;
	}
	
	.flexibleContainerCell {
		padding-top: 20px;
		padding-Right: 20px;
		padding-Left: 20px;
	}
	
	.flexibleImage {
		height: auto;
	}
	
	.bottomShim {
		padding-bottom: 20px;
	}
	
	.imageContent,
	.imageContentLast {
		padding-bottom: 20px;
		text-align:center;
	}
	
	.nestedContainerCell {
		padding-top: 20px;
		padding-Right: 20px;
		padding-Left: 20px;
	}
	
	body,
	#bodyTable {
		background-color: #F5F5F5;
	}
	
	.textContent,
	.textContentLast {
		color: #404040;
		font-family: Helvetica;
		font-size: 16px;
		line-height: 125%;
		text-align: Left;
		padding-bottom: 20px;
	}
	
	.textContent a,
	.textContentLast a {
		color: #194d19;
		text-decoration: underline;
	}
	
	.nestedContainer {
		background-color: #ECF9EC;
		border: 1px solid #206020;
	}
	
	.buttonContent {
		color: #FFFFFF;
		font-family: Helvetica;
		font-size: 18px;
		font-weight: bold;
		line-height: 100%;
		padding: 15px;
		text-align: center;
	}
	
	.buttonContent a {
		color: #FFFFFF;
		display: block;
		text-decoration: none;
	}
	
	.emailCalendar {
		background-color: #FFFFFF;
		border: 1px solid #CCCCCC;
	}
	
	.emailCalendarMonth {
		background-color: #194d19;
		color: #FFFFFF;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
	}
	
	.emailCalendarDay {
		color: ##194d19;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 60px;
		font-weight: bold;
		line-height: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
</style>
<!-- This is the header content -->
<center>
	<table border="0" cellpadding="0" cellspacing="0" width="598" id="emailBody" style="background-color: #f1f1f1;border-collapse: collapse;">
		<tr>
			<td align="center" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tr>
						<td align="center" valign="top">
							<table border="0" cellpadding="0" cellspacing="0" width="598" class="flexibleContainer" style="border-collapse: collapse;">
								<tr>
									<td align="center" valign="top" width="598" class="flexibleContainerCell" style="padding-top: 20px;padding-right: 20px;padding-left: 20px;">
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
											<tr>
												<td valign="top" class="imageContent" style="padding-bottom: 20px;text-align: center;">
													<img src="http://mono.monowebdesign.uk/wp-content/uploads/2016/09/monowebcare.jpg" width="558" class="flexibleImage" style="border: 0;outline: none;text-decoration: none;height: auto;">
												</td>
											</tr>
											<tr>
												<td valign="top" class="">
													<h1 style="text-align: center;font-size: 30px;line-height: 115%;margin: 0;padding: 0;">Client Report - [client.site.name]</h1>
													<h3 style="text-align: center;font-size: 15px;margin: 0;padding: 0;">[report.daterange]</h3>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tbody>
						<tr>
							<td align="center" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="598" class="flexibleContainer" style="border-collapse: collapse;">
									<tbody>
										<tr>
											<td align="center" valign="top" width="598" class="flexibleContainerCell bottomShim" style="padding-top: 20px;padding-right: 20px;padding-left: 20px;padding-bottom: 20px;">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer" style="border-collapse: collapse;background-color: #ECF9EC;border: 1px solid #206020;">
													<tbody>
														<tr>
															<td valign="top" class="nestedContainerCell" style="padding-top: 20px;padding-right: 20px;padding-left: 20px;">
																<table align="Left" border="0" cellpadding="0" cellspacing="0" width="200" class="flexibleContainer" style="border-collapse: collapse;">
																	<tbody>
																		<tr>
																			<td align="Left" valign="center" class="imageContent" style="padding-bottom: 20px;text-align: center;">
																				<img src="https://getflywheel.com/wp-content/themes/flywheel15/images/logo-sucuri.png" width="200px" style="padding-top: 25px;border: 0;outline: none;text-decoration: none;height: auto;" class="flexibleImage">
																			</td>
																		</tr>
																	</tbody>
																</table>
																<table align="Right" border="0" cellpadding="0" cellspacing="0" width="280" class="flexibleContainer" style="border-collapse: collapse;">
																	<tbody>
																		<tr>
																			<td valign="top" style="padding-top: 25px;color: #404040;font-family: Helvetica;font-size: 16px;line-height: 125%;text-align: Left;padding-bottom: 20px;" class="textContent">
																				<h3 style="margin: 0;padding: 0;">Securi Malware protection, detection, alerting & Cleanup</h3>
																				<br> Security checked [sucuri.checks.count] times<br>
																				[section.sucuri.checks] Status:
																				<u>[sucuri.check.status]</u><br> Webtrust: [sucuri.check.webtrust] on<br>
																				[sucuri.check.date]<br>
																				[/section.sucuri.checks]
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tr>
						<td align="center" valign="top">
							<table border="0" cellpadding="0" cellspacing="0" width="598" class="flexibleContainer" style="border-collapse: collapse;">
								<tr>
									<td valign="top" width="598" class="flexibleContainerCell" style="padding-top: 20px;padding-right: 20px;padding-left: 20px;">
										<table align="Left" border="0" cellpadding="0" cellspacing="0" width="260" class="flexibleContainer" style="border-collapse: collapse;">
											<tr>
												<td valign="top" style="text-align: center;padding-bottom: 20px;" class="imageContent">
													<img src="https://s.w.org/about/images/logos/wordpress-logo-simplified-rgb.png" width="100px" class="flexibleImage" style="max-width: 100px;border: 0;outline: none;text-decoration: none;height: auto;">
												</td>
											</tr>
											<tr>
												<td valign="top" class="textContent" style="color: #404040;font-family: Helvetica;font-size: 16px;line-height: 125%;text-align: Left;padding-bottom: 20px;">
													<h3 style="text-align: center;margin: 0;padding: 0;">Core Updates</h3>
													<br>
													<h4 style="margin: 0;padding: 0;">Core Updates - [wordpress.updated.count]</h4>
													[section.wordpress.updated] WordPress core update from<br> [wordpress.old.version] to [wordpress.current.version]<br>													([wordpress.updated.date])
													<br> [/section.wordpress.updated]
												</td>
											</tr>
										</table>
										<table align="Right" border="0" cellpadding="0" cellspacing="0" width="260" class="flexibleContainer" style="border-collapse: collapse;">
											<tr>
												<td valign="top" style="text-align: center;padding-bottom: 20px;" class="imageContentLast">
													<img src="http://icons.iconarchive.com/icons/elegantthemes/beautiful-flat-one-color/128/plugin-icon.png" width="100px" class="flexibleImage" style="max-width: 100px;border: 0;outline: none;text-decoration: none;height: auto;">
												</td>
											</tr>
											<tr>
												<td valign="top" class="textContent" style="color: #404040;font-family: Helvetica;font-size: 16px;line-height: 125%;text-align: Left;padding-bottom: 20px;">
													<h3 style="text-align: center;margin: 0;padding: 0;">Plugin Changes</h3>
													<br>
													<h4 style="margin: 0;padding: 0;">Plugins Updated - [plugin.updated.count]</h4>
													[section.plugins.updated] [plugin.name] <br> from [plugin.old.version] to [plugin.current.version]<br> [/section.plugins.updated]
													<br>
													<h4 style="margin: 0;padding: 0;">Plugins Installed - [plugin.installed.count]</h4>
													[section.plugins.installed] [plugin.name] on [plugin.installed.date]<br> [/section.plugins.installed]
													<br>
													<h4 style="margin: 0;padding: 0;">Plugins Deleted - [plugin.deleted.count]</h4>
													[section.plugins.deleted] [plugin.name] on [plugin.deleted.date]<br> [/section.plugins.deleted]
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td align="center" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tbody>
						<tr>
							<td align="center" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="598" class="flexibleContainer" style="border-collapse: collapse;">
									<tbody>
										<tr>
											<td align="center" valign="top" width="598" class="flexibleContainerCell bottomShim" style="padding-top: 20px;padding-right: 20px;padding-left: 20px;padding-bottom: 20px;">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer" style="border-collapse: collapse;background-color: #ECF9EC;border: 1px solid #206020;">
													<tbody>
														<tr>
															<td valign="top" class="nestedContainerCell" style="padding-top: 20px;padding-right: 20px;padding-left: 20px;">
																<table align="Left" border="0" cellpadding="0" cellspacing="0" width="160" class="flexibleContainer" style="border-collapse: collapse;">
																	<tbody>
																		<tr>
																			<td align="center" valign="top" class="bottomShim" style="padding-bottom: 20px;">
																				<br>
																				<table border="0" cellpadding="0" cellspacing="0" width="160" class="emailCalendar" style="border-collapse: collapse;background-color: #FFFFFF;border: 1px solid #CCCCCC;">
																					<tbody>
																						<tr>
																							<td align="center" valign="top" style="padding:5px;">
																								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
																									<tbody>
																										<tr>
																											<td align="center" valign="top" class="emailCalendarMonth" style="background-color: #194d19;color: #FFFFFF;font-family: Helvetica, Arial, sans-serif;font-size: 16px;font-weight: bold;padding-top: 10px;padding-bottom: 10px;text-align: center;">
																												30 Day Uptime
																											</td>
																										</tr>
																										<tr>
																											<td align="center" valign="top" class="emailCalendarDay" style="color: ##194d19;font-family: Helvetica, Arial, sans-serif;font-size: 60px;font-weight: bold;line-height: 100%;padding-top: 20px;padding-bottom: 20px;text-align: center;">
																												[aum.uptime30]
																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
																<table align="Right" border="0" cellpadding="0" cellspacing="0" width="280" class="flexibleContainer" style="border-collapse: collapse;">
																	<tbody>
																		<tr>
																			<td valign="top" class="textContent" style="color: #404040;font-family: Helvetica;font-size: 16px;line-height: 125%;text-align: Left;padding-bottom: 20px;">
																				<h3 style="margin: 0;padding: 0;">30 Day Uptime Monitor</h3>
																				<br> We actively monitor your websites to make sure its always up and running<br> Over the last 30 days
																				we have maintained a [aum.uptime30] uptime on your site.<br><h4 style="text-align: center;padding-top: 10px;margin: 0;padding: 0;">How great is that?</h4>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td align="center" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
					<tr>
						<td align="center" valign="top">
							<table border="0" cellpadding="0" cellspacing="0" width="598" class="flexibleContainer" style="border-collapse: collapse;">
								<tr>
									<td align="center" valign="top" width="598" class="flexibleContainerCell bottomShim" style="padding-top: 20px;padding-right: 20px;padding-left: 20px;padding-bottom: 20px;">
										<table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer" style="border-collapse: collapse;background-color: #ECF9EC;border: 1px solid #206020;">
											<tr>
												<td align="center" valign="top" class="nestedContainerCell" style="padding-top: 20px;padding-right: 20px;padding-left: 20px;">
													<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
														<tr>
															<td valign="top" class="textContent" style="color: #404040;font-family: Helvetica;font-size: 16px;line-height: 125%;text-align: Left;padding-bottom: 20px;">
																We strive to have excellent quality. From time to time an update to a theme or plugin can have undesired effects.<br><br>																If for any reason your site doesnt look right after an update please open a support ticket with our Updates
																Department so that we can remedy the issue as quickly as possible.
															</td>
														</tr>
														<tr>
															<td align="center" valign="top" class="bottomShim" style="padding-bottom: 20px;">
																<table border="0" cellpadding="0" cellspacing="0" width="260" style="background-color:#194d19; border-collapse:separate; border-radius:4px;">
																	<tr>
																		<td align="center" valign="middle" class="buttonContent" style="color: #FFFFFF;font-family: Helvetica;font-size: 18px;font-weight: bold;line-height: 100%;padding: 15px;text-align: center;">
																			<a href="#" target="_blank" style="color: #FFFFFF;display: block;text-decoration: none;">Open Support Ticket Here</a>
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</center>